.new-container form{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.new-container form input{
    margin-top: 30px;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 40px;
    width: 590px;
    padding: 0 12px;
    font-size: 16px;
    color: #666;
}

.new-container button{
    width: 590px;
    height: 40px;
    margin-top: 20px;
    padding: 0 12px;
    border-radius: 4px;
    border: 0;
    font-weight: bold;
    background: #666;
    color: #fff;
    cursor: pointer;
}

.new-container form button{
    background: #38B6FF;
    margin-top: 30px;
}

.new-container form button:hover{
    background: #1aabff;
}

.new-container button:hover{
    background: #595959;
}